* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
}

header {
    width: 100%;
    position: fixed;
}

.container-header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px;
}

.button-hamburguer {
    display: none;
}

.container-logo {
    width: 15%;
}

.box-header-logo-img {
    width: 100%;
}

.img-logo {
    width: 60%;
}

.menu-header {
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-header nav {
    width: 100%;
}

.menu-header ul {
    font-family: 'Montserrat', sans-serif;
    
    display: flex;
    justify-content: space-evenly;
    
}

.menu-header ul li {
    color: #9767A9;
    text-transform: capitalize;
    font-size: 80%;
    
}

.menu-header ul li a {
    text-decoration: none;
    
}

.menu-header ul li a:hover {
    font-weight: bold;
    

}



.container-input-busca {
    width: 14%;
    height:10%;
    display: flex;
    
    justify-content: space-around;
    border: solid;
    border-color: #9767A9;
    border-radius: 50px;
}

.box-input-busca {
    width: 10%;
    height: 30px;
    display: flex;
}

.input-img {
    width: 100%;
}

.botao-buscar-header {
    border: #ffff;
    opacity: 0.5;
    height: 30px;
    width: 95%;
    
}

.container-contatos {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contatos {
    width: 10%;
    display: flex;
}

.ontatos-imgs {
    width: 50%;
}

@media (max-width: 1020px){
    .menu-header {
        display: none;
    }
    .button-hamburguer {
        display: block;
    }
    .container-input-busca {
        display: none;
    }
    .container-contatos {
        display: none;
    }
    .container-header {
        justify-content: flex-start;
    }
    .container-logo {
        width: 93%;
        display: flex;
        justify-content: center;
    }
    .box-header-logo-img {
        width: 37%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
/**
@media (max-width: 750px) {
    .menu {
        display: none;
    }
}
**/

.menu-header li {
    list-style: none;
    font-size: 100%;
    
}